<div class="main-content">
    <div class="container-fluid">

      <div class="card">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon card-header-purple"><i class="material-icons">monetization_on</i></div>
            </div>
            <div class="row">
              <h3><strong class="title-tag">Análisis de Ventas</strong></h3>
            </div>
          </div>
        </div>

        <!-- SE PUEDE AGREGAR UN TITULO AQUI -->

        <div class="card-body"><br>

          <div class="row">
            <div class="col-md-12">

            </div>
          </div>



        </div>

      </div>
    </div>
  </div>
